$borde: 2px solid #545454;
$color-secundario: rgb(228, 227, 227);
$color-button: #C7821C;
$color-letra: #545454;
$color-fondo: #F1F0F0;

//***********************************************
// GENERAL Y HTML BASE
//***********************************************

* {
	margin: 0;
	font-family: 'Spartan';
	color:$color-letra;
	box-sizing: border-box;
}

#nav {
	width: 100vw;
	height: 98px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: white;

  #img {
    width: 120px;
    height: 70px;
    padding: 20px 5px 0 5px;
	  
    img {
      width: 100%;
      margin-left: 10px;
	  }
  }
  
  #app_name {
    width: 60%;
    display: flex;
    padding: 25px 0 0 5px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #F1F0F0;
    
    h1 {
		  font-size: 24px;
		  letter-spacing: 5px;
	  }
    
    #description {
	    font-size: 18px;
	    padding-bottom: 10px;
    }
  }
}

#first-section {
	width: 100vw;
	height: 40px;
	background-color: $color-fondo;
	display: flex;
	justify-content: space-between;
	align-content: center;
	
  p {
		margin-left: 10px;
		padding-top: 10px;
		font-weight: 600;
	}
}

#footer {
	width: 100vw;
	height: 40px;
	text-align: center;
	background-color: $color-fondo;
	padding: 10px 0;
}

//***********************************************
// PÁGINA 1
//***********************************************

#container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
  .grupo {
    width: 100%;
    height: 170px;
    border-bottom: 7px solid $color-fondo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
		width: 100%;
		margin-bottom: 10px;
      h4 {
        font-weight: 600;
		font-size: 17px;
        margin: 10px 0px 0px 15px;
	    }
    }

    .texto_grupo {
      width: 100%;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;

      .text_body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50px;

        h5 {
        font-weight: 400;
        font-size: 12px;
	      }
        .fechas {
          font-weight: 400;
          font-size: 12px;
        }
      }
    }	    
	
    button {
      background-color: $color-button;
      border: 1px solid $color-button;
      color: white;
      outline: none;
      font-size: 13.5px;
      padding: 13px;
	  border-radius: 2px;
		height: 45px;
	  }
  }
}

//***********************************************
// PÁGINA 2
//***********************************************

.comunidad_individual_title {
	p {
		font-size: 15px;
	}
}

.boton_volver {
	background-color: $color-button;
	border: 1px solid $color-button;
	color: white;
	outline: none;
	width: 130px;
	font-size: 15px;
	padding: 10px;
	border-radius: 2px;
	margin-right: 25px;
}

.comunidad_individual {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

  h4 {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0px 0px 15px;  
  }

  .texto_grupo_comunidad {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    h5 {
      font-weight: 400;
      font-size: 12px;
	  }

    .boton_mensaje_sin_pedido {
      background-color: $color-button;
      border: 1px solid $color-button;
      color: white;
      outline: none;
      width: 150px;
      font-size: 12px;
      padding: 10px;
      border-radius: 2px;
      margin-right: 5px;
    }
  }

  .otra_info {
	  margin: 0 0 45px 15px;

    h5 {
      font-weight: 400;
      font-size: 12px;
	  }
  }
}

.separator {
	background-color: $color-fondo;
	width: 100%;
	height: 15px;
}

#en_producción {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 55px;

	padding: 25px 15px;
	margin-bottom: 25px;
	
  .card {
    width: 250px;
    display: flex;
		align-content: center;
    margin-bottom: 25px;
  
    img {
		  width: 115px;
		  margin-bottom: 15px;
	  }
	
    .card-text {
		font-size: 12px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-left: 15px;
	  }
	}
}

.botones_actualizar {
	display: flex;
	justify-content: space-evenly;
	padding: 15px;
	
	button {
		background-color: $color-button;
		border: 1px solid $color-button;
		color: white;
		outline: none;
		width: 140px;
		font-size: 13px;
		padding: 10px;
		border-radius: 2px;
	}
}

//***********************************************
// PÁGINA 2
//***********************************************
.produccion_title {
	background-color: $color-letra;
	width: 100vw;
	padding: 6px;
	margin-bottom: 20px;
	p {
	color: white;
	font-size: 11px;
	text-align: center;
	}
}

.container_tres {
	padding-top: 24px;
	.title {
		h4 {
			font-size: 18px;
			text-align: center;
		}
	}

	.productos_disponibles {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 50px;

		.card_producto {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.imagen {
				margin: 15px;
				height: 120px;
				width: 120px;
				padding: 10px;
				img{
					width: 100%;
				}
			}
		}
	}

	#form{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 310px;
		width: 100vw;

		form{
			margin:auto;
		}

		textarea{
			border-radius: 10px;
			padding: 7px;
			border: 3px solid $color-button;
			display: block;
   			margin-left: auto;
			margin-right: auto;
			outline: none;
		}

		.input{
			margin-top: 20px;
			margin-left: 10px;
		}

		.botones{
			display: flex;
   			margin-left: auto;
    		margin-right: auto;
			justify-content: space-around;
			width: 370px;

		}
		.button{
			background-color: $color-button;
			border: 1px solid $color-button;
			color: white;
			outline: none;
			width: 140px;
			font-size: 13px;
			padding: 10px;
			height: 45px;
			border-radius: 2px;
		}


	}
}



//***********************************************
// PSEUDOCLASES
//***********************************************

button {
	&:hover {
		cursor: grab;
	}
}

//***********************************************
// MEDIA QUERIES
//***********************************************


	@media (max-width: 408px) {
		#nav {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: 180px;
			margin-bottom: 20px;
		
		#img {
			width: 120px;
			height: 70px;
			margin-bottom: 30px;
		}
		#app_name {
			width: 100vw;
			background-attachment: green;
			h1 {
				
				font-size: 22px;
				margin-bottom: 10px;
			}
		}
	}
		#first-section {
				text-align: center;
			}
	
		
		#container .grupo {
			height: 220px;
			text-align: center;
			padding-bottom: 10px;
		}
		#container .grupo .title {
			display: block;
		}

		#container .grupo .texto_grupo {
			display: block;
			.button{
				margin-top: 20px;
				padding:17px
			}
		}

}

