@charset "UTF-8";
* {
  margin: 0;
  font-family: 'Spartan';
  color: #545454;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav {
  width: 100vw;
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
}

#nav #img {
  width: 120px;
  height: 70px;
  padding: 20px 5px 0 5px;
}

#nav #img img {
  width: 100%;
  margin-left: 10px;
}

#nav #app_name {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 0 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F0F0;
}

#nav #app_name h1 {
  font-size: 24px;
  letter-spacing: 5px;
}

#nav #app_name #description {
  font-size: 18px;
  padding-bottom: 10px;
}

#first-section {
  width: 100vw;
  height: 40px;
  background-color: #F1F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

#first-section p {
  margin-left: 10px;
  padding-top: 10px;
  font-weight: 600;
}

#footer {
  width: 100vw;
  height: 40px;
  text-align: center;
  background-color: #F1F0F0;
  padding: 10px 0;
}

#container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#container .grupo {
  width: 100%;
  height: 170px;
  border-bottom: 7px solid #F1F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .grupo .title {
  width: 100%;
  margin-bottom: 10px;
}

#container .grupo .title h4 {
  font-weight: 600;
  font-size: 17px;
  margin: 10px 0px 0px 15px;
}

#container .grupo .texto_grupo {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .grupo .texto_grupo .text_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
}

#container .grupo .texto_grupo .text_body h5 {
  font-weight: 400;
  font-size: 12px;
}

#container .grupo .texto_grupo .text_body .fechas {
  font-weight: 400;
  font-size: 12px;
}

#container .grupo button {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  font-size: 13.5px;
  padding: 13px;
  border-radius: 2px;
  height: 45px;
}

.comunidad_individual_title p {
  font-size: 15px;
}

.boton_volver {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  width: 130px;
  font-size: 15px;
  padding: 10px;
  border-radius: 2px;
  margin-right: 25px;
}

.comunidad_individual {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.comunidad_individual h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0px 0px 15px;
}

.comunidad_individual .texto_grupo_comunidad {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comunidad_individual .texto_grupo_comunidad h5 {
  font-weight: 400;
  font-size: 12px;
}

.comunidad_individual .texto_grupo_comunidad .boton_mensaje_sin_pedido {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  width: 150px;
  font-size: 12px;
  padding: 10px;
  border-radius: 2px;
  margin-right: 5px;
}

.comunidad_individual .otra_info {
  margin: 0 0 45px 15px;
}

.comunidad_individual .otra_info h5 {
  font-weight: 400;
  font-size: 12px;
}

.separator {
  background-color: #F1F0F0;
  width: 100%;
  height: 15px;
}

#en_producción {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 55px;
  padding: 25px 15px;
  margin-bottom: 25px;
}

#en_producción .card {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 25px;
}

#en_producción .card img {
  width: 115px;
  margin-bottom: 15px;
}

#en_producción .card .card-text {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
}

.botones_actualizar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

.botones_actualizar button {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  width: 140px;
  font-size: 13px;
  padding: 10px;
  border-radius: 2px;
}

.produccion_title {
  background-color: #545454;
  width: 100vw;
  padding: 6px;
  margin-bottom: 20px;
}

.produccion_title p {
  color: white;
  font-size: 11px;
  text-align: center;
}

.container_tres {
  padding-top: 24px;
}

.container_tres .title h4 {
  font-size: 18px;
  text-align: center;
}

.container_tres .productos_disponibles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.container_tres .productos_disponibles .card_producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container_tres .productos_disponibles .card_producto .imagen {
  margin: 15px;
  height: 120px;
  width: 120px;
  padding: 10px;
}

.container_tres .productos_disponibles .card_producto .imagen img {
  width: 100%;
}

.container_tres #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 310px;
  width: 100vw;
}

.container_tres #form form {
  margin: auto;
}

.container_tres #form textarea {
  border-radius: 10px;
  padding: 7px;
  border: 3px solid #C7821C;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container_tres #form .input {
  margin-top: 20px;
  margin-left: 10px;
}

.container_tres #form .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 370px;
}

.container_tres #form .button {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  width: 140px;
  font-size: 13px;
  padding: 10px;
  height: 45px;
  border-radius: 2px;
}

button:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

@media (max-width: 408px) {
  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 180px;
    margin-bottom: 20px;
  }
  #nav #img {
    width: 120px;
    height: 70px;
    margin-bottom: 30px;
  }
  #nav #app_name {
    width: 100vw;
    background-attachment: green;
  }
  #nav #app_name h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  #first-section {
    text-align: center;
  }
  #container .grupo {
    height: 220px;
    text-align: center;
    padding-bottom: 10px;
  }
  #container .grupo .title {
    display: block;
  }
  #container .grupo .texto_grupo {
    display: block;
  }
  #container .grupo .texto_grupo .button {
    margin-top: 20px;
    padding: 17px;
  }
}
/*# sourceMappingURL=style.css.map */