@charset "UTF-8";
* {
  margin: 0;
  font-family: 'Spartan';
  color: #545454;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav {
  width: 100vw;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  padding-top: 20px;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

#nav #img {
  width: 120px;
  height: 40px;
}

#nav #img img {
  width: 100%;
}

#nav h1 {
  font-size: 21px;
  color: #C7821C;
  padding-top: 20px;
}

#first-section {
  width: 100vw;
  height: 40px;
  background-color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#first-section p {
  margin-left: 10px;
  padding-top: 10px;
  font-weight: 600;
  color: white;
}

#footer {
  width: 100vw;
  height: 40px;
  text-align: center;
  background-color: #F1F0F0;
  padding: 10px 0;
}

#container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#container .grupo {
  width: 100%;
  height: 170px;
  border-bottom: 7px solid #F1F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .grupo .title {
  width: 100%;
  margin-bottom: 10px;
}

#container .grupo .title h4 {
  font-weight: 600;
  font-size: 17px;
  margin: 10px 0px 0px 15px;
}

#container .grupo .texto_grupo {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .grupo .texto_grupo .text_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
}

#container .grupo .texto_grupo .text_body h5 {
  font-weight: 400;
  font-size: 15px;
}

#container .grupo .texto_grupo .text_body .fechas {
  font-weight: 400;
  font-size: 15px;
}

#container .grupo button {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  width: 163px;
  color: white;
  outline: none;
  font-size: 13.5px;
  padding: 13px;
  border-radius: 2px;
  margin-right: 15px;
  margin-bottom: 10px;
}

#detalle_page_2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#detalle_page_2 .icon_boton .boton_grupo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  height: 60px;
  width: 100%;
}

#detalle_page_2 .icon_boton .boton_grupo i {
  color: #C7821C;
}

#detalle_page_2 .icon_boton .boton_grupo .boton_volver {
  color: #C7821C;
  font-weight: 600;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color: white;
  text-decoration: underline;
}

#detalle_page_2 #page_name {
  margin-top: 5px;
  width: 200px;
}

#detalle_page_2 #page_name h1 {
  text-align: right;
  font-size: 18px;
}

.comunidad_individual_title p {
  font-size: 18px;
}

.comunidad_individual {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.comunidad_individual h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0px 0px 15px;
}

.comunidad_individual .texto_grupo_comunidad {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comunidad_individual .texto_grupo_comunidad h5 {
  font-weight: 400;
  font-size: 14px;
}

.comunidad_individual .texto_grupo_comunidad .boton_mensaje_sin_pedido {
  background-color: #F1F0F0;
  border: 4px solid #C7821C;
  color: #545454;
  outline: none;
  width: 140px;
  height: 35px;
  font-size: 13px;
  padding: 5px 0 15px 0;
  border-radius: 2px;
  margin-right: 5px;
}

.comunidad_individual .otra_info {
  margin: 0 0 45px 15px;
}

.comunidad_individual .otra_info h5 {
  font-weight: 400;
  font-size: 14px;
}

.separator {
  background-color: #F1F0F0;
  width: 100%;
  height: 15px;
}

#en_producción {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 55px;
  padding: 25px 15px;
  margin-bottom: 25px;
}

#en_producción .card {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 25px;
}

#en_producción .card img {
  width: 115px;
  margin-bottom: 15px;
}

#en_producción .card .card-text {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
}

.botones_actualizar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
}

.botones_actualizar button {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  width: 185px;
  font-size: 13px;
  padding: 7px;
  border-radius: 2px;
  line-height: 20px;
}

#detalle_page_3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#detalle_page_3 .icon_boton_3 .boton_grupo_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  height: 60px;
  width: 100%;
}

#detalle_page_3 .icon_boton_3 .boton_grupo_3 i {
  color: #C7821C;
}

#detalle_page_3 .icon_boton_3 .boton_grupo_3 .boton_volver {
  color: #C7821C;
  font-weight: 600;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color: white;
  text-decoration: underline;
}

#detalle_page_3 #page_name {
  margin-top: 5px;
  width: 230px;
}

#detalle_page_3 #page_name h1 {
  text-align: right;
  font-size: 18px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #545454;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.7;
}

.produccion_title {
  background-color: #545454;
  width: 100vw;
  padding-bottom: 4px;
}

.produccion_title p {
  color: white;
  font-size: 17px;
  text-align: center;
}

.container_tres .title h4 {
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
}

.container_tres .title form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_tres .title form textarea {
  margin: 10px 0;
  background-color: #F9F9FA;
  outline: none;
  border: 6px solid #F1F0F0;
}

.container_tres .title form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  margin: 25px 5px 15px 0;
}

.container_tres .title form .input input[type="checkbox"] {
  margin-right: 5px;
}

.container_tres .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.container_tres .botones .actualizar {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  width: 260px;
  font-size: 13px;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.container_tres .botones .cancelar {
  color: #C84737;
  font-weight: 600;
  border: none;
  width: 80px;
  height: 30px;
  background-color: white;
  text-decoration: underline;
}

.container_tres .productos_disponibles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_tres .productos_disponibles .card_producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
}

.container_tres .productos_disponibles .card_producto .imagen {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_tres .productos_disponibles .card_producto .imagen span {
  margin-left: 20px;
  padding-top: 30px;
}

.container_tres .modal {
  position: fixed;
  z-index: 3;
  top: 30%;
  bottom: 0;
  right: 0;
  left: 10%;
  width: 290px;
  height: 250px;
  background-color: #F9F9FA;
  border: 6px solid #F1F0F0;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container_tres .modal .modal_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_tres .modal .modal_content p {
  font-size: 15px;
  text-align: center;
  margin: 10px 0;
}

.container_tres .modal .modal_content p span {
  font-weight: bold;
}

.container_tres .modal .modal_content .confirmar {
  background-color: #C7821C;
  border: 1px solid #C7821C;
  color: white;
  outline: none;
  width: 260px;
  font-size: 13px;
  padding: 15px;
  border-radius: 2px;
  margin: 25px 0 15px 0;
}

.container_tres .modal .modal_content .cerrar {
  color: #C84737;
  font-weight: 600;
  border: none;
  width: 80px;
  height: 30px;
  background-color: #F9F9FA;
  text-decoration: underline;
}

button:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.boton_volver:focus {
  outline: 0;
}

.cerrar:focus {
  outline: 0;
}

.cancelar:focus {
  outline: 0;
}

@media (max-width: 408px) {
  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 15px 20px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
            box-shadow: 0 10px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  }
  #nav #img {
    width: 120px;
    height: 40px;
  }
  #first-section {
    text-align: center;
  }
  #container .grupo {
    height: 220px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #container .grupo .title {
    display: block;
  }
  #container .grupo .texto_grupo {
    display: block;
  }
  #container .grupo .texto_grupo .button {
    margin-top: 5px;
    padding: 17px;
  }
}
/*# sourceMappingURL=style.css.map */